/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Chalk Hand Lettering';
    src:url('fonts/Colored-Crayons.ttf') format('truetype');
} 

@font-face {
    font-family: 'Monster Unleashed';
    src:url('fonts/Monster-Unleashed.ttf') format('truetype');
} 

@font-face {
    font-family: 'Eraser Dust';
    src:url('fonts/EraserDust.ttf') format('truetype');
} 

@font-face {
    font-family: 'Coffee House';
    src:url('fonts/Coffee-House.ttf') format('truetype');
} 

.players {
  width: 370px;
}

.players, .games, .btn {
  box-shadow: 10px 10px 5px rgba(30, 30, 30, .6);

}

main {
  padding-top: 60px;
}

.alert {
  opacity: 0.8;
}

table {
  table-layout: fixed;
}

 table, td {
  border: 10px solid rgba(255, 255, 255, .7);
  border-collapse: collapse;
 }

 .board {
  height: 100px;
  width: 100px;
  overflow: hidden;
 }

.board a {
  position:relative;
}

 .board a:hover {
  position:relative;
  right: 103px;
  top: 5px;
 }

 .board .move {
  position:relative;
  right: 103px;
  top: 5px;
 }

 h1 {
  text-align: center;
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 255, 255, 1);
  font-size: 6em;
  margin: 5px;
 }

 h2 {
  text-align: center;
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 255, 255, 1);
  font-size: 4em;
  margin: 5px;
 }

 h3 {
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 255, 255, 1);
  font-size: 3em;
  margin: 10px;
 }

 h4 {
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
 }

 body {
  background-image: url("wildtextures-weathered-table-top1.jpg");
  background-size: cover;
 }

 .board img {
  opacity: 0.8;
 }



 p {
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
 }

.alert {
  margin-top: 100px;
  text-align: center;
}

 .avatar {
  display: block;
  margin: 0 auto 20px auto;
 }

 .players-wrapper { 
  margin: 30px 0 30px 0;
  text-align: center;
 }

.players {
  text-align: center;
  margin: 0 auto 0 auto;
  display:inline-block;
  background-color: rgba(153, 204, 255,0.7);
  padding: 15px 15px 15px 15px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-color: #ccc;
}

.games {
  text-align: center;
  margin: 0 auto 30px auto;
  display: block;
  background-color: rgba(153, 204, 255,0.7);
  padding: 15px 15px 15px 15px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-color: #ccc;
}

.games a {
  margin-right: 30px;
}

.players .challenge-button {
  font-family: 'Chalk Hand Lettering';
  color: rgba(255, 0, 0, 0.8);
  font-size: 3em;
}

.players .edit-button {
  font-family: 'Chalk Hand Lettering';
  font-size: 3em;
}

.players .challenge {
  margin-top: 10px;
}

.new-game {
  margin: 40px;
  text-align: center;
}

.number {
  position: relative;
  font-family: "Eraser Dust";
  font-size: 1.5em;
  top: 8px;
}

table {
  margin-top: 25px;
}

.symbol {
  text-align: center;
}

th td {
  margin: 10px;
}

.leaderboard h4 {
  margin: 10px;
}

.lb-number {
  font-family: "Eraser Dust";
  font-size: 1.5em;
}

.leadertable {
  margin-right: auto;
  margin-left: auto;
}

.players .edit {
  margin-top: 10px;
}

.edit a {
  color: #0082C3;
}

.finish-message {
  text-align: center;
}

.sidebar {
  margin-top: 25px;
}

.opponent {
   text-align: center;
   font-family: 'Chalk Hand Lettering';
   color: rgba(255, 255, 255, 1);
   font-size: 4em;
   margin: 5px;
}

.form-group label {
  margin-bottom: 7px;
}

.dropdown:hover .dropdown-menu {
display: block;
}


